<!-- variable `card` uses the Card interface which is backed by the CardImpl Sling Model -->
<div	 data-sly-use.card="com.adobe.aem.guides.wknd.components.Card"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${!card.isEmpty}"
     class="cmp-card">
     <!-- use method getLinkPath() to populate card link -->
     <a class="cmp-card__link" href="${card.linkPath @ extension = 'html'}">
     	<!-- use an in-line style to populate the background image of the card, using the getImageSrc() method -->
		<div class="cmp-card__wrapper"
			  style="background-image: url(${card.imageSrc @ context='uri'})">
    			<div class="cmp-card__content">
    				 <!-- Populate the card title using the getTitle() method -->
	    			 <h2 class="cmp-card__title" data-sly-test.title="${card.title}">${title}</h2>
	    			 <!-- Populate the description using the getDescription() method -->
	    			 <h3 class="cmp-card__description" data-sly-test.description="${card.description}">${description}</h3>
    			</div>
    		</div>
	</a>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=card.isEmpty}"></sly> 